.button__registration {
  width: 218px;
  height: 48px;
  background-color: $buttonColor;
  color: #fff;
  border-radius: 15px;
  border: none;
  line-height: 18px;
  font-size: 15px;
  font-weight: 600;
}
